[submodule "real_work/info-site"]
	path = real_work/info-site
	url = git@github.com:OVECJOE/info-site.git
[submodule "real_work/business-card"]
	path = real_work/business-card
	url = git@github.com:OVECJOE/business-card.git
[submodule "real_work/airbnb-clone"]
	path = real_work/airbnb-clone
	url = git@github.com:OVECJOE/An-Airbnb-Tweaked-Webpage-In-React.git
[submodule "real_work/meme-generator"]
	path = real_work/meme-generator
	url = git@github.com:OVECJOE/meme-generator.git
[submodule "real_work/travel-journal"]
	path = real_work/travel-journal
	url = git@github.com:OVECJOE/travel-journal.git
[submodule "real_work/tenzie-game"]
	path = real_work/tenzie-game
	url = git@github.com:OVECJOE/tenzie-game.git
[submodule "real_work/movie-lexicon"]
	path = real_work/movie-lexicon
	url = git@github.com:OVECJOE/movie-lexicon.git
